
$backgroundImage: url('../../Assets/Images/Homeheader/rtx4060tibackground.jpg'); // Adjust the path

.homeHeader-wrapper{
    background-image: $backgroundImage;
    background-size: 100% 100%; // Adjust to your needs, e.g., 'contain', '100% 100%', etc.
    background-position: center; // Adjust to your needs, e.g., 'top', 'left', etc.
    //width:  // Set a width for the container
    height: 80vh; // Set a height for the container

    .homeHeader-text{
        position: relative;
        display: flex;
        flex-direction: column;
        width: 50%;

        left: 10%;


        h1, h3, p{
            color: white;
            margin: 0;
        }

        .homeHeader-text-title{
            font-size: larger;

            h1{
                margin-top: 40px;
            }
        }

        .homeHeader-text-subtitle{
            font-size: larger;

            margin-top: 20px;
        }

        .homeHeader-text-desc{
            margin-top: 20px;
            width: 50%;
            line-height: 1.4;
        }

        .homeHeader-text-button{
            margin-top: 20px;

            button{
                width: 180px;
                height: 50px;
                background-color: #76b900;
                font-family: Verdana, Geneva, Tahoma, sans-serif;
                color: #232536;
                border-style: none;
                border-radius: 0px;
                margin-top: 20px;
            }

            button:hover{
                background-color: darken(#76b900, 10%);
                transform: scale(1.1);
                transition: ease .5s;
                font-weight: bold;
                border: 1px solid #232523;
                border-radius: 5px;
                cursor: pointer;
            }

            button:not(:hover){
                transition: ease .5s;
            }
        }


        .homeHeader-text-logo{
            position: relative;
            top: 100px;
            right: 20px;
            img{
                width: 200px;
            }
        }
    }


}