.header {
  width: 100vw;
  height: 80px;
  display: flex;
  box-shadow: 1px 1px 5px #1b1f2b;
  position: fixed;
  top: 0;
  background-color: black;
  z-index: 10;
}

.header-logo {
  margin-left: 80px;
  width: 50%;
  display: flex;
  justify-content: left;
}
.header-logo a img {
  position: fixed;
  top: -30px;
  left: 10px;
  width: 200px;
}
@media screen and (max-width: 576px) {
  .header-logo a img {
    scale: 0.4;
    top: -50px;
    left: -50px;
  }
}

.header-nav {
  display: flex;
  justify-content: right;
  margin-right: 80px;
  width: 60%;
}
.header-nav nav ul {
  height: 100%;
  display: flex;
  /*align-items: center;*/
  justify-content: flex-end;
  list-style-type: none;
}
.header-nav nav ul .header-nav-item {
  margin-top: 12px;
}
.header-nav nav ul #subscribe-button {
  margin-right: 0;
}
.header-nav nav ul #subscribe-button:hover {
  background-color: #558600;
  transform: scale(1.1);
  transition: ease 0.5s;
  font-weight: bold;
  border: 1px solid #232523;
  border-radius: 5px;
  cursor: pointer;
}
.header-nav nav ul li {
  margin-right: 40px;
}
.header-nav nav ul li a {
  margin-top: 40px;
  color: #76b900;
  margin-right: 24px;
  font-size: 16px;
  text-decoration: none;
}
.header-nav nav ul li input {
  width: 180px;
  height: 50px;
  background-color: #76b900;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #232536;
  font-size: 16px;
  border-style: none;
  border-radius: 0px;
  margin-top: 0px;
  margin-bottom: 12px;
}
.header-nav nav ul li:hover {
  transform: scale(1.1);
  transition: ease 0.5s;
  font-weight: bold;
}
.header-nav nav ul li:not(:hover) {
  transition: ease 0.5s;
  transform: scale(1);
  transition: ease-in-out 0.2s;
}

.header-nav-hamburguer {
  display: none;
}

.header-nav-hamburguer-menu {
  display: none;
}

@media screen and (max-width: 1400px) {
  .header-nav nav ul li {
    font-size: 8px;
  }
}
@media screen and (max-width: 1200px) {
  .header .header-logo h1 {
    font-size: 24px; /*Ajuste da altura do font para tablet*/
  }
  .header .header-nav nav ul li input {
    width: 140px;
  }
  .header .header-nav nav ul li a {
    font-size: 14px; /*Ajuste da altura do font para tablet*/
  }
}
@media screen and (max-width: 576px) {
  .header {
    height: 40px;
  }
  .header .header-logo {
    margin-left: 20px; /*Ajuste da margem para tablet*/
    width: 40%; /*Ajuste da margem para mobile*/
  }
  .header .header-logo h1 {
    margin: 0;
    font-size: 18px; /*Ajuste da altura do font para mobile*/
  }
  .header .header-nav {
    display: none;
  }
  .header .header-nav-hamburguer {
    margin-top: 10px;
    margin-left: 200px;
    margin-right: 20px;
    display: block;
    align-items: center;
    cursor: pointer;
  }
  .header .header-nav-hamburguer div {
    margin-left: 50px;
    display: block;
    width: 20px;
    height: 3px;
    background-color: #76b900;
    margin-bottom: 5px;
  }
  .header .header-nav-hamburguer.active div:first-child {
    transform: rotate(45deg) translate(4px, 4px);
  }
  .header .header-nav-hamburguer.active div:nth-child(2) {
    opacity: 0;
  }
  .header .header-nav-hamburguer.active div:last-child {
    transform: rotate(-45deg) translate(4px, -4px);
  }
  .header .header-nav-hamburguer-menu.active {
    display: block;
  }
  .header .header-nav-hamburguer-menu nav {
    background-color: #76b900;
    padding-top: 100px;
    padding-right: 50px;
    padding-left: 50px;
  }
  .header .header-nav-hamburguer-menu nav ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    justify-content: left;
    height: 100%;
  }
  .header .header-nav-hamburguer-menu nav ul li {
    margin-bottom: 20px;
  }
  .header .header-nav-hamburguer-menu nav ul li a {
    color: #232536;
    font-size: 16px;
    text-decoration: none;
  }
  .header .header-nav-hamburguer-menu nav ul li:hover {
    transform: scale(1.1);
    transition: ease 0.5s;
    font-weight: bold;
  }
  .header .header-nav-hamburguer-menu nav ul li:not(:hover) {
    transform: scale(1);
    transition: ease-in-out 0.2s;
  }
  .header .header-nav-hamburguer-menu nav ul input {
    width: 90px;
    height: 50px;
    background-color: #f4f4f4;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #232536;
    font-size: 16px;
    border-style: none;
    border-radius: 0px;
    margin-top: 0px;
    margin-bottom: 12px;
  }
}/*# sourceMappingURL=Header.css.map */